.panel-home .ui-panel-handle-container,
.panel-mainmenu .ui-panel-handle-container,
.panel-statusbar .ui-panel-handle-container{
	display: none;
}

/************************
	jQuery UI 
************************/

.ui-dialog{
	box-shadow: 0 0 13px 4px black;
}
.ui-accordion .ui-accordion-header {
    padding: 5px 0 5px 30px;	
}
ul.ui-selectable {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.ui-selectee {
	padding: 5px;
	border-bottom: 1px dotted black;
}
.ui-selected{
	background: #e6a800;
	color: black;
}
.ui-selected a {
	color: black;
}